{% extends "template1.html" %}
{% load static %}
{% block content %}


    <div style="width: 100%; height: 10%; margin:auto; background: #051922;"></div>

    <div style="width: 50%; height: 15%; margin:auto;"></div>

    <div style="margin-top: -10%;">
	<div class="mt-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>Our <span class="orange-text">Team</span></h3>
						<p>Equipo de trabajo detras de Green Genius</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-1"></div>
						<h4>Alexander Sanán <span>Elaboración de sitio Web</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-team-item">
						<div class="team-bg team-bg-2"></div>
						<h4>Carlos Gramajo<span>Programador de ESP32</span></h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-team-item">
						<div class="team-bg team-bg-3"></div>
						<h4>Jeffry <span>Ensable y diseños</span></h4>
					</div>
				</div>
			</div>
		</div>
	</div>

    </div>

    <div style="width: 100%; height: 10%;"> </div>

{% endblock %}